@import "bootstrap";

@import "questions.scss";
@import "shared.scss";

.btn-red {
  color: #fff;
  background-color: #FC6487;
  border-color: #FC6487;
}

.gothic {
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック"; font-weight: bold;
}
